{{yield}}
<div class="container">
  <div class="messages">
    {{#each messages as |message|}}
      {{#if message.isBot}}
        {{chat-box-bot message=message}}
      {{else}}
        {{chat-box-user message=message}}
      {{/if}}
    {{/each}}
  </div>
  {{#if show-defaults}}
    <div class="defaults">
      {{#chat-box-default action=(action "submit")}}
        Hey how are you?
      {{/chat-box-default}}
      {{#chat-box-default action=(action "submit")}}
        Hey how are you?
      {{/chat-box-default}}
      {{#chat-box-default action=(action "submit")}}
        Hey how are you?
      {{/chat-box-default}}
      {{#chat-box-default action=(action "submit")}}
        Hey how are you?
      {{/chat-box-default}}
      {{#chat-box-default action=(action "submit")}}
        Hey how are you?
      {{/chat-box-default}}
      {{#chat-box-default action=(action "submit")}}
        reset
      {{/chat-box-default}}
    </div>
  {{/if}}
  <div class="input-container">
    {{input value=text placeholder="What do you need help with?"}}
    <button {{action "submit" text}}>Send</button>
  </div>
</div>
