{{yield}}
<div class="container">
  <div class="messages">
    {{#each messages as |message|}}
      {{#if message.isBot}}
        {{chat-box-bot message=message}}
      {{else}}
        {{chat-box-user message=message}}
      {{/if}}
    {{/each}}
  </div>
  {{#if show-console}}
    {{chat-box-runner action=(action "submit")}}
    <div class="panic">
      {{#chat-box-reply class="button-reply" action=(action "submit")}}
        I'm sorry I didn't understand that. Please try again, or if I'm not helping then click below to speak to a human.
      {{/chat-box-reply}}
      {{#chat-box-reply class="button-reply" action=(action "submit")}}
        reset
      {{/chat-box-reply}}
    </div>
  {{/if}}
  <form class="input-container">
    {{input value=text placeholder="What do you need help with?"}}
    <button {{action "submit" text}} class="button-reply" type="submit">Send</button>
  </form>
</div>
